.section-login{
  margin-top: 5rem;
}

.login-title{
  text-align: center;
}

.login__panel{
  display: flex;
  justify-content: center;
}

.login-div{
  width: 27rem;
  height: 27rem;
  margin-top: 2rem;
  position: relative;
  color: white;
}

.login-div a{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 1rem;
  background-color: rgba(0,0,0, .5);
  color: white;
  cursor: pointer;
}

.login-driver{
  background-image: url("../assets/img/login-as-driver.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 70px;
}

.login-customer{
  background-image: url("../assets/img/login-as-customer.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}