header.header{
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  box-shadow: .1rem .1rem .2rem rgba(40,40,40,.15);
}

.header__img{
  max-height: 2rem;
  cursor: pointer;
}