.rotated-star{
  transform: scaleX(-1) translateX(1px);
  background-color: transparent; 
  position: absolute;
}

.normal-star{
  color: black !important;
}

.yellow-star {
  color: #f1c40f !important;
}

.normal-star:hover{
  color: black !important;
}

.yellow-star:hover{
  color: yellow !important;
}

.ui.button {
  color: white;
  background: #4a4a4a;
}

.ui.button:hover {
  color: white;
  background: #5b5b5b;
}